@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: "Archivo Black", sans-serif; */
}
html,
body {
  height: 100%;
}
.archivo {
  font-family: "Archivo Black", sans-serif;
}

.landing image {
  object-fit: cover;
}

.landing {
  position: relative;
  width: 100%;
  color: #fff;
  border-radius: 20px;
  font-family: "Archivo Black", sans-serif;
}

.landing::before {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  position: absolute;
  font-family: "Abril Fatface", cursive;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 20px;

  /* opacity: 0.75; */
}
.blob {
  padding-top: 40px;
  margin-left: 40px;
}

.languages {
  color: #8a3ffc;
}
.protfolio-wrap {
  margin: 50px;
}

@media (max-width: 767px) {
  .protfolio-wrap {
    margin: 30px;
  }
}

@media (max-width: 575px) {
  .protfolio-wrap {
    margin: 10px;
  }
}
.nav-link {
  padding: 10px;
  margin: 10px;
  font-family: "Nunito";
}

.about {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.about h1 {
  padding-top: 10px;
}
.about p {
  font-family: "Nunito";
}
.about button {
  font-family: "Nunito";
}

.feature_item {
  text-align: center;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.feature_item:hover {
  box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
  background: #ecf0f1;
}
.projects {
  padding: 5%;
}
.project img {
  max-height: 200px;
  min-height: 200px;
}

.project h6 {
  max-height: 40px;
  min-height: 40px;
}
.project p {
  font-family: "Nunito";
}

.skills {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: whitesmoke;
  border-radius: 20px;
}
.skills p {
  font-family: "Nunito";
}
.skills h6 {
  font-family: "Nunito";
}
.progress {
  font-family: "Nunito";
}
.progresswidget {
  padding-bottom: 15px;
}
.gallery {
  padding: 5%;
}
.gallery a {
  padding: 20px;
}

.gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.gallery p,
a,
h3 {
  font-family: "Nunito";
}
.contact form,
label,
input {
  font-family: "Nunito";
}
.contact {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: whitesmoke;
  border-radius: 20px;
}

footer p {
  font-family: "Nunito";
}
body {
  margin: 0;
}
.progress-container-chargement {
  width: 100%;
  height: 2px;
  background: transparent;
  transition-timing-function: ease-out;
}
.progress-bar-chargement {
  height: 3px;
  background: #fc0000;
  animation-duration: 2s;
  animation-name: bar-de-chargement;
  opacity: 0;
  border-radius: 12px;
  transition-timing-function: ease-in;
}
.header-bar-chargement {
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  background-color: transparent;
  transition-timing-function: ease-out;
}
@keyframes bar-de-chargement {
  1% {
    width: 0;
    opacity: 0;
    display: none;
  }
  2% {
    opacity: 1;
    display: block;
  }
  30% {
    opacity: 1;
  }
  75% {
    width: 75%;
  }
  76% {
    width: 76%;
  }
  77% {
    width: 77%;
  }
  78% {
    width: 78%;
  }
  79% {
    width: 79%;
  }
  80% {
    width: 80%;
  }
  81% {
    width: 81%;
  }
  83% {
    width: 82%;
  }
  82% {
    width: 83%;
  }
  84% {
    width: 84%;
  }
  85% {
    width: 85%;
  }
  86% {
    width: 86%;
  }
  87% {
    width: 87%;
  }
  96% {
    width: 96%;
    transition-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
    display: none;
  }
}
.hidden {
  opacity: 0;
}

/* The text*/
.loading-text {
  text-align: center;
  padding-top: 10%;
  font-size: 35px;
  font-family: segoe script;
}
.image-cropper {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
